n8n/Diretiva_Telegram.json
{
  "name": "Diretiva - Captura de Leads e Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diretiva-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 0, 0 ]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "leads",
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            { "column": "nome", "value": "={{ $json.body.nome }}" },
            { "column": "whatsapp", "value": "={{ $json.body.whatsapp }}" },
            { "column": "tipo_seguro", "value": "={{ $json.body.tipo }}" },
            { "column": "detalhes", "value": "={{ $json.body.detalhes }}" }
          ]
        }
      },
      "id": "supabase-node",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 220, 0 ],
      "credentials": {
        "supabaseApi": {
          "id": "ASkrJLk80nQIomZl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "SEU_CHAT_ID",
        "text": "=🚀 *Novo Lead - Diretiva Seguros*\n\n*Nome:* {{ $node.Webhook.json.body.nome }}\n*WhatsApp:* {{ $node.Webhook.json.body.whatsapp }}\n*Seguro:* {{ $node.Webhook.json.body.tipo }}\n*Detalhes:* {{ $node.Webhook.json.body.detalhes || 'Nenhum detalhe informado' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-node",
      "name": "Aviso Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [ 440, 0 ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 660, 0 ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Supabase", "type": "main", "index": 0 }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          { "node": "Aviso Telegram", "type": "main", "index": 0 }
        ]
      ]
    },
    "Aviso Telegram": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
